{
    "extends": ["maxweldsouza"],
    "plugins": [
        "jest",
        "prettier"
    ],
    "env": {
        "node": true,
        "es6": true
    },
    "parserOptions": {
        "ecmaVersion": 6,
        "sourceType": "module",
    }
}
